<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>LK student</title>
</head>
<body>
<div class="wrap wrap__basic">
  <header class="header__basic">
    <div class="container container__basic__header">
      <ul class="nav__basic">
        <li><a href="loged.html" class="active__link">Заметки</a></li>
        <li><a href="#">Оценки</a></li>
        <li><a href="#">Рейтинг</a></li>
      </ul>
      <h2 class="user__login"><span>User login</span></h2>
    </div>
  </header>
  <main>
    <div class="container container__basic__main">
      <div class="sort__loged">
        <ul class="sort__list__loged">
          <li class="sort__link__loged"><a href="#" class="active__link">All</a></li>
          <li class="sort__link__loged"><a href="#">ФИО1учитель</a></li>
          <li class="sort__link__loged"><a href="#">ФИО1учитель</a></li>
        </ul>
      </div>
      <hr>
      <aside class="card__loged">
        <h3>От кого: <span>ФИО учителя</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur debitis dolore ea earum enim eveniet officia quidem repellat, veritatis?</p>
      </aside>
      <aside class="card__loged">
        <h3>От кого: <span>ФИО учителя</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur debitis dolore ea earum enim eveniet officia quidem repellat, veritatis?</p>
      </aside>
      <aside class="card__loged">
        <h3>От кого: <span>ФИО учителя</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur debitis dolore ea earum enim eveniet officia quidem repellat, veritatis?</p>
      </aside>
    </div>
  </main>
</div>
<script src="../static/script.js" type="javascript"></script>
</body>
</html>