<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>LK student rating</title>
</head>
<body>
<div class="wrap wrap__loged">
  <header class="header__basic">
    <div class="container container__basic__header">
      <ul class="nav__basic">
        <li><a href="loged.html" class="active__link">Заметки</a></li>
        <li><a href="#">Оценки</a></li>
        <li><a href="#">Рейтинг</a></li>
      </ul>
      <h2 class="user__login"><span>User login</span></h2>
    </div>
  </header>
  <main>
    <div class="container container__basic__main">
      <table class="table__score">
        <thead>
        <tr><th>п/п</th><th>ФИО</th><th>Оценка/Рейтинг</th></tr>
        </thead>
        <tbody>
        <tr><td>1</td><td>[текст ячейки]</td><td>[текст ячейки]</td></tr>
        <tr><td>2</td><td>[текст ячейки]</td><td>[текст ячейки]</td></tr>
        <tr><td>3</td><td>[текст ячейки]</td><td>[текст ячейки]</td></tr>
        <tr><td>4</td><td>[текст ячейки]</td><td>[текст ячейки]</td></tr>
        <tr><td>5</td><td>[текст ячейки]</td><td>[текст ячейки]</td></tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
<script src="../static/script.js" type="javascript"></script>
</body>
</html>