<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>LK student</title>
</head>
<body>
<div class="wrap wrap__basic">
  <header class="header__basic">
    <div class="container container__basic__header">
      <ul class="nav__basic">
        <li><a href="loged.html" class="active__link">Заметки</a></li>
        <li><a href="#">Оценки</a></li>
        <li><a href="#">Рейтинг</a></li>
      </ul>
      <h2 class="user__login"><span>User login</span></h2>
    </div>
  </header>
  <main>
    <div class="container container__basic__main">
      <section class="card__score">
        <div class="score">5</div>
        <div class="info__score">
          <div class="date__score">Дата получения оценки: <span>15.04.2022</span></div>
          <div class="from-score">Teacher</div>
          <div class="description__score">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi delectus deserunt ducimus earum est quia sequi sit tempora ut?</div>
          <div class="change_score">Рейтинг: <span>+1</span></div>
        </div>
      </section>
      <section class="card__score">
        <div class="score">5</div>
        <div class="info__score">
          <div class="date__score">Дата получения оценки: <span>15.04.2022</span></div>
          <div class="from-score">Teacher</div>
          <div class="description__score">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi delectus deserunt ducimus earum est quia sequi sit tempora ut?</div>
          <div class="change_score">+1</div>
        </div>
      </section>
      <section class="card__score">
        <div class="score">5</div>
        <div class="info__score">
          <div class="date__score">Дата получения оценки: <span>15.04.2022</span></div>
          <div class="from-score">Teacher</div>
          <div class="description__score">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi delectus deserunt ducimus earum est quia sequi sit tempora ut?</div>
          <div class="change_score">+1</div>
        </div>
      </section>
    </div>
  </main>
</div>
<script src="../static/script.js" type="javascript"></script>
</body>
</html>